!!! 5
%html
  %head
    %title Facebook Friends' Commenters
    = stylesheet_link_tag :all
    = javascript_include_tag :all
    = csrf_meta_tag

  %body
    / used for bootstrap default
    .container
      .row
        #header.span12
          = facebook_login_button('large')
          %h1 Facebook Friends' Commenters
          %p Click a friend's name from the list to display his/her comment stats
      .row
        #sidebar.span2
          #fb-root
          = yield
        #content.span10

:javascript
  window.fbAsyncInit = function() {
    FB.init({appId: #{FACEBOOK_APP_ID}, status: true, cookie: true, xfbml: true});
  };
  (function() {
    var e = document.createElement('script');
    e.type = 'text/javascript';
    e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
    e.async = true;
    document.getElementById('fb-root').appendChild(e);
  }());
